:root{
    --WColor: #F6FAFD;
    /*--BGColor: #EAF1FB;*/
    --BGColor: #5786c9;
    --FColor: #717171;
    --HColor: #F0C519;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    /* Background Color*/
    background-color: var(--BGColor);
}
/* Sidebar start */
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 100vh;
    padding: 0 20px;
    color: #EAF1FB;
    overflow: hidden;
    transition: all 0.5s linear;
    background: var(--WColor);
}
.sidebar:hover{
    width: 220px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .active{
    background: var(--HColor);
}
.menu a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Sidebar end */

/* main body section*/
.main-content {
    position: relative;
    background: var(--BColor);
    width: 100%;
    padding: 1rem;
}

.header-wrapper img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--WColor);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.header-title {
    color: #000000;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem; 
}
.search-box{
    background: rgb(239, 239, 239);
    border: none;
    color: var(--BGColor);
    display: flex;
    align-items: center;
    gap: 5;
    padding: 4px 10px;
    border-radius: 10px;
}
.search-box input{
    border: none;
    background: transparent;
    padding: 4px;
}
.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
    transform: scale(1.2);
}

/*  card container  */
.card-container{
    background: var(--WColor);
    padding: 2rem;
    border-radius: 10px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.main-title{
    color: black;
    padding-bottom: 10px;
    font-size: 20px;
}
.clusters-card{
    color: #000000;
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.clusters-card:hover{
    transform: translateY(-5px);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.amount-value{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    
}
.cluster-code{
    font-size: 18px;
    color: var(--FColor);
    letter-spacing: 2px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
.Cluster-01{
    background: #FAB28C;
}
.Cluster-02{
    background: #FAC58C;
}
.Cluster-03{
    background: #FAD38C;
}
.Cluster-04{
    background: #FA9E8C;
}

/* chart */
.body-stats{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    width: 100%;
}
.cluster-right-stat{
    flex-grow: .5;
    flex-basis: 200px;
    background: var(--WColor);
    height: auto;
    width: 300px;
    float: right;
    align-items: center; 
    flex-direction: column; 
    gap: 30px;
    margin-top: 1rem;
    --webkit-column-break-inside: avoid;
    /*box-shadow: 0 4px 12px -2px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    padding: 8px 32px;
}
.doughnut-chart-container{
    height: 300px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}
.clusters table{
    margin: 30px auto;
    justify-content: space-between;
}
.cluster th{
    flex: 1;
    padding: 10px;
    text-align: left;
}
/* Cluster left side */
.cluster-left-stat{
    flex-grow: 1;
    flex-basis: 200px;
    margin-top: 1rem;
    background: var(--WColor);
    text-align: center;
    float: left;
    /*box-shadow: 0 4px 12px -2px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    padding: 8px 32px;
}
.bar-chart-container{
    display: flex;
    align-items: center; 
    flex-direction: column; 
    gap: 30px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/* Recent Activities*/
.table-container table{
    width: 100%;
    border-collapse: collapse;
}
.table-container thead{
    background: var(--HColor);
    color: #fff;
}
.table-container th{
    padding: 15px;
    text-align: left;
}
.table-container tbody{
    background: #e9e9e9;
}
tr:nth-child(even){
    background: var(--WColor);
}
.table-container td{
    padding: 15px;
    font-size: 14px;
}
.table-container tfoot td{
    background: var(--BGColor);
    font-weight: bold;
    color: #fff;
}
.table-container button{
    border: none;
    color: green;
    background: none;
    cursor: pointer;
}